@model List<MovieCatalog.Models.MovieListItem>
@{
    ViewBag.Title = "Index";
}

<h2>Movie List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Release Year</th>
        <th>Genre</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

        @foreach (var movie in Model)
        {
            <tr>

                <td>@movie.Title</td>
                <td>@movie.ReleaseYear</td>
                <td>@movie.GenreID</td>
                <td>@Html.ActionLink("Edit", "Edit", "Movie", new { movieID=@movie.MovieID}, new {@class="btn btn-primary"})</td>
            </tr>
        }
    </tbody>
</table>
