@model SGCorpHR.Models.PolicyDocument
@{
    ViewBag.Title = "UploadPolicyDoc";
}


@using (Html.BeginForm("SavePolicyDocument", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <h1>Upload Policy Document</h1>
    <div>
        <label>Name</label>
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        <label>Upload File</label>
        @*@Html.TextBoxFor(m => m.FilePath, new {type="file", name="file"})*@
        <input type="file" name="file" />
    </div>
    <div>
        <label>Category</label>
        @Html.TextBoxFor(m => m.Category.CategoryName)
        <input type="submit" name="Submit" value="Submit" />
    </div>





     @*<table>
        <tr>
            <td>File:</td>
            <td>
                <input type="file" name="file" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>*@
}


